<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pizzaplayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <pizzaplayer.Properties.Settings>
            <setting name="bg" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>MV Boli, 15.75pt</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoupdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>100</value>
            </setting>
        </pizzaplayer.Properties.Settings>
    </userSettings>
</configuration>
